<div class="container">
  <h1 class="document-title">PROCURAÇÃO</h1>

  <div class="participants-card">
    <div class="participant">
      <h3>Lorem Ipsum</h3>
      <div class="infos">
        <img src="https://lh3.googleusercontent.com/proxy/cEy188CHKOyr2pi68f-tGuyPoqQRYPrEI6OENhgA7rza5zGhLl_PeJqBCFgrHjr4VVbSExAkDp82OgC9flL322Qe1Oz5PzkzHTUxfBDrIyZPaJe6">
        <div class="details">
          <p>{{ participant1.name }}</p>
          <span>{{ participant1.profession }}</span>
          <p>{{ participant1.cpf }}</p>
        </div>
      </div>
      <div class="footer">
          <p>{{ participant1.maritalStatus }}</p>
          <p>{{ participant1.address.street }}, Nº {{ participant1.address.number }}, {{ participant1.address.district }}</p>
          <p>{{ participant1.address.cep }}, {{ participant1.address.city }} - {{ participant1.address.uf }}</p>
        </div>
    </div>



    <div class="participant">
      <h3>Lorem Ipsum</h3>
      <div class="infos">
        <img src="https://lh3.googleusercontent.com/proxy/cEy188CHKOyr2pi68f-tGuyPoqQRYPrEI6OENhgA7rza5zGhLl_PeJqBCFgrHjr4VVbSExAkDp82OgC9flL322Qe1Oz5PzkzHTUxfBDrIyZPaJe6">
        <div class="details">
          <p>{{ participant2.name }}</p>
          <span>{{ participant2.profession }}</span>
          <p>{{ participant2.cpf }}</p>
        </div>
      </div>
      <div class="footer">
          <p>{{ participant2.maritalStatus }}</p>
          <p>{{ participant2.address.street }}, Nº {{ participant2.address.number }}, {{ participant2.address.district }}</p>
          <p>{{ participant2.address.cep }}, {{ participant2.address.city }} - {{ participant2.address.uf }}</p>
        </div>
    </div>
  </div>

  <h2>Poderes</h2>
  <div class="rights">
    <span><strong>1.1</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <span><strong>1.2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <span><strong>1.3</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <span><strong>1.4</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </div>


  <div class="middle-content">
    <div class="info">
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="info">
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <div class="signature">
    <span class="location">São Paulo/SP, 18 de Janeiro de 2021</span>
    <strong>______________________________________</strong>
    <p>Nome Completo</p>
  </div>

  <div class="pdf-footer">
    <strong>Lorem ipsum</strong>
  </div>

</div>
